
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   
                                   href={% url 'login' %}>
									Hydrosense
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a href={% url 'home' %}>Hydrosense</a> 
                        - coded by <a>Kira</a>
					</div>				
				</div>
            </footer>
            