{% extends "layouts/base.html" %}

<!-- {% block title %} Dashboard {% endblock %}  -->

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheets" href="..\static\assets\css\pages.css"
{% endblock stylesheets %}

{% block content %}
<style>
		/* Style the button that is used to open and close the collapsible content */
	.collapsible-header {
	color:#575962;
	background-color: white;
	display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
	border:1px solid #ddd;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	width:100%;
	border-radius: 0.25em;
}

	/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	.active, .collapsible-header:hover {
	background-color: #ccc;
	}

	.collapsible-body {
		padding: 0 18px;
		display: none;
		overflow: hidden;
		background-color: #f1f1f1;
	  padding: 0 18px;
	  background-color: white;
	  max-height: 0;
	  overflow: hidden;
	  transition: max-height 0.2s ease-out;
	}
	</style>
<div class="content" style="align:center;"">
		
		<div class="card" style="align:center;font-family: 'Montserrat', sans-serif; width:85em; margin-left: auto;margin-right: auto;">
			<div class="card-header">
				<div class="card-title" style="text-align: center;font-weight: bold; font-size:2.5em">Temperature</div>
			</div>

			<div class="card-body">
				<div class = "row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<div class="card-title text-center">Your Temperature Value</div>
							</div>
							<div class="card-body">
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="circles-3"></div>
									<h6 class="fw-bold mt-3 mb-0">Temperature</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<div class="card-title text-center">Legend</div>
							</div>
							<div class="card-body">
								<img src="../static/assets/img/Temperature.png" width=60% style="position: relative;"/>
							</div>
						</div>
					</div>
				</div>
				<div class = "col">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title text-center">Line Chart</div>
							</div>
							<div class="card-body">
								<div class="chart-container">
									<canvas id="lineChart"></canvas>
								</div>
							</div>
						</div>
					</div>

				</div>
		
				<div class="collapsible">
						<button type="button" class="collapsible-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<h2><span><strong>1. What is temperature?</strong></span><span></span></h2>
						</button>
						<div class="collapsible-body" id="collapseOne">
								<p style="text-align: justify;" id="paragraph"><span>Temperature, measure of hotness or coldness expressed in terms of any of several arbitrary scales and indicating the direction in which heat energy will spontaneously flow—i.e., from a hotter body (one at a higher temperature) to a colder body (one at a lower temperature). Temperature is not the equivalent of the energy of a thermodynamic system; e.g., a burning match is at a much higher temperature than an iceberg, but the total heat energy contained in an iceberg is much greater than the energy contained in a match. Temperature, similar to pressure or density, is called an intensive property—one that is independent of the quantity of matter being considered—as distinguished from extensive properties, such as mass or volume.

									Three temperature scales are in general use today. The Fahrenheit (°F) temperature scale is used in the United States and a few other English-speaking countries. The Celsius (°C) temperature scale is standard in virtually all countries that have adopted the metric system of measurement, and it is widely used in the sciences. The Kelvin (K) scale, an absolute temperature scale (obtained by shifting the Celsius scale by −273.15° so that absolute zero coincides with 0 K), is recognized as the international standard for scientific temperature measurement.
									</span></p>
								<p style="text-align: justify;"></p>
						</div>
					
					
						<button type="button" class="collapsible-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<h2><span><strong>2. How to measure temperature?</strong></span><span></span></h2>
						</button>
						<div class="collapsible-body" id="collapseTwo">
							<p>Three temperature scales are in general use today. The Fahrenheit (°F) temperature scale is used in the United States and a few other English-speaking countries. The Celsius (°C) temperature scale is standard in virtually all countries that have adopted the metric system of measurement, and it is widely used in the sciences. The Kelvin (K) scale, an absolute temperature scale (obtained by shifting the Celsius scale by −273.15° so that absolute zero coincides with 0 K), is recognized as the international standard for scientific temperature measurement.</p>
						</div>
				
					
						<button type="button" class="collapsible-header">	
							<h2><span><strong>3. How does it determine water quality?</strong></span><span></span></h2>
						</button>
						<div class="collapsible-body">
							<p >Why we monitor water temperature: Water temperature influences the rates of chemical and biological processes and affects other measured parameters (e.g. as temperature increases, the maximum amount of dissolved oxygen decreases). Water temperature is one of the most important parameters for aquatic organisms. Many animals have adapted to a specific range of temperatures and temperatures warmer than these can cause stress or even death. For example, trout are cold water fish that have trouble surviving when the water temperature is above 20 °C.
 
								What influences water temperature: Water temperature is determined by the climate of the watershed, seasonal patterns and local influences. During the summer, lakes and reservoirs generally have a layer of warm and less dense water that floats above colder, denser water at the bottom of the reservoir. The density difference between these two layers creates a surprising amount of resistance to mixing, so the two layers stay separate for much of the summer. In the fall, the temperatures cool at the surface and the lake eventually mixes from top to bottom. A winter lake, especially one with ice cover, may have “reverse stratification” where slightly warmer water floats above the most dense water, which occurs at about 4.5 °C. In the spring, the lake mixes from top to bottom. The warming of the late spring and summer sun creates the warm later again.
								 
								Local influences on lake temperatures include upstream discharges of warmer water from natural springs or cooling water from power plants, shading provided by the littoral zone (the vegetation along the edge of the lake), lake depth, and the amount of suspended material in the water. recording the temperature.
								</p>
							<div align=center>
								<p><img src="../static/assets/img/temperature.jpg"" width=80% style="align:center; margin-left: auto;margin-right: auto;"></p>
								<p><span></span></p>
								<br>
							</div>
						</div>
					
					
						<button type="button" class="collapsible-header">
							<h2 ><span><strong>4. Temperature simulator</strong></span><span></span></h2>
						</button>	
						<div style="border: 2px solid #D5CC5A; overflow: hidden; margin: 15px auto; max-width: 575px;">
							<iframe scrolling="no" src="https://javalab.org/en/thermometer_en/" style="border: 0px none; height: 500px; width: 650px;">
							</iframe>
						</div>
						
					
					</div>
				
				<p>Information courtesy of <a href="https://www3.epa.gov/acidrain/education/site_students/phscale.html">U.S. Environmental Protection Agency</a></p>

		</div>

</div>
{% endblock content %}


{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script>
		const data = "{{ temperatureData }}"
		console.log("{{ temperatureData }}")
		console.log(data)
		console.log(typeof data)
		var temparray = JSON.parse("[" + data + "]");
		console.log(temparray)
		console.log(temparray[0])
		const len = temparray[0].length
		console.log(len)
		var lineChart = document.getElementById('lineChart').getContext('2d')
        var myLineChart = new Chart(lineChart, {
			type: 'line',
			data: {
				labels:temparray[0].map((element,index)=>{
					return index+1;
				}) ,
				datasets: [{
					label: "Active Users",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: temparray[0]
				}]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position: 'bottom',
					labels : {
						padding: 10,
						fontColor: '#1d7af3',
					}
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});
        var result ="{{ ans }}";
        
        Circles.create({
			id: 'circles-3',
			radius: 55,
			value: "{{ realTimeTemp }}",
			maxValue: 100,
			width: 7,
			text: "{{ realTimeTemp }}",
			colors: ['#f1f1f1', '#F25961'],
			duration: 400,
			wrpClass: 'circles-wrp',
			textClass: 'circles-text',
			styleWrapper: true,
			styleText: true
		})

		var coll = document.getElementsByClassName("collapsible-header");
		var i;

		for (i = 0; i < coll.length; i++) {
			coll[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
				content.style.display = "none";
				} else {
				content.style.display = "block";
				}
			});
			}
			var coll = document.getElementsByClassName("collapsible-header");
			var i;
			
			for (i = 0; i < coll.length; i++) {
			  coll[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var content = this.nextElementSibling;
				if (content.style.maxHeight){
				  content.style.maxHeight = null;
				} else {
				  content.style.maxHeight = content.scrollHeight + "px";
				}
			  });
			}

    </script>
    {% endblock javascripts %}

