{% extends "layouts/base.html" %}

<!-- {% block title %} Dashboard {% endblock %}  -->

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <h1>pH (Potential of Hydrogen)</h1>
    <div class = "row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Your pH value</div>
                </div>
                <div class="card-body">
                    <div class="px-2 pb-2 pb-md-0 text-center">
                        <div id="circles-3"></div>
                        <h6 class="fw-bold mt-3 mb-0">pH</h6>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Line Chart</div>
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cannamed-single-article-content">
    <div id="ez-toc-container" class="ez-toc-v2_0_26 counter-hierarchy counter-decimal ez-toc-grey">
 <span style="font-family:'times new roman', times, serif; color: #000000; font-size: 20px;"><strong>1. What is pH?</strong></span><span class="ez-toc-section-end"></span></h2>
    <p style="text-align: justify;"><span style="font-weight: 400; font-family:'times new roman', times, serif; color: #000000;">pH stands for the concept of “<strong><em>potential of hydrogen</em></strong>” which is an indicator indicating the activity of H+ ions in solution (also known as pH), an index with a scale from 1 to 14. It reflects properties alkaline or acidic of a certain environment to know if that concentration will be beneficial or harmful to plants.</span></p>
    <p style="text-align: justify;"></p></div>

    <div id="ez-toc-container" class="ez-toc-v2_0_26 counter-hierarchy counter-decimal ez-toc-grey">
        <span style="font-family:'times new roman', times, serif; color: #000000; font-size: 20px;"><strong>1. How o measure pH?</strong></span><span class="ez-toc-section-end"></span></h2>
        <div class="tex2jax_process" bis_skin_checked="1"><p><strong>Acid Rain and the pH Scale</strong></p>
            <p>The pH scale measures how acidic an object is. Objects that are not very acidic are called basic. The scale has values ranging from zero (the most acidic) to 14 (the most basic). As you can see from the pH scale above, pure water has a pH value of 7. This value is considered neutral—neither acidic or basic. Normal, clean rain has a pH value of between 5.0 and 5.5, which is slightly acidic. However, when rain combines with sulfur dioxide or nitrogen oxides—produced from power plants and automobiles—the rain becomes much more acidic. Typical acid rain has a pH value of 4.0. A decrease in pH values from 5.0 to 4.0 means that the acidity is 10 times greater.</p>
            <p><strong>How pH is Measured</strong></p>
            <p>There are many high-tech devices that are used to measure pH in laboratories. One easy way that you can measure pH is with a strip of&nbsp;<a href="https://www3.epa.gov/acidrain/education/site_students/glossary.html#lit">litmus paper</a>. When you touch a strip of litmus paper to something, the paper changes color depending on whether the substance is acidic or basic. If the paper turns red, the substance is acidic, and if it turns blue, the substance is basic.</p>
            <p>Information courtesy of <a href="https://www3.epa.gov/acidrain/education/site_students/phscale.html">U.S. Environmental Protection Agency</a></p>
            </div></div>
    <p><img src="https://blog.jencoi.com/hs-fs/hubfs/103211917_m.jpg?width=1200&name=103211917_m.jpg"></p>
    <iframe src="https://phet.colorado.edu/sims/html/ph-scale-basics/latest/ph-scale-basics_en.html"
        width="800"
        height="600"
        allowfullscreen>
</iframe>
    </div>
{% endblock content %}


{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script>
		var lineChart = document.getElementById('lineChart').getContext('2d')
        var myLineChart = new Chart(lineChart, {
			type: 'line',
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "Active Users",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [542, 480, 430, 550, 530, 453, 380, 434, 568, 610, 700, 900]
				}]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position: 'bottom',
					labels : {
						padding: 10,
						fontColor: '#1d7af3',
					}
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});
        var result ="{{ ans }}";
        
        Circles.create({
			id: 'circles-3',
			radius: 55,
			value: "{{ ph }}",
			maxValue: 100,
			width: 7,
			text: "{{ ph }}",
			colors: ['#f1f1f1', '#F25961'],
			duration: 400,
			wrpClass: 'circles-wrp',
			textClass: 'circles-text',
			styleWrapper: true,
			styleText: true
		})
    </script>
    {% endblock javascripts %}

